In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/Last.fm_data.csv')

In [4]:
df

,Unnamed: 0,Username,Artist,Track,Album,Date,Time
0,0,Babs_05,Isobel Campbell,The Circus Is Leaving Town,Ballad of the Broken Seas,31 Jan 2021,23:36
1,1,Babs_05,Isobel Campbell,Dusty Wreath,Ballad of the Broken Seas,31 Jan 2021,23:32
2,2,Babs_05,Isobel Campbell,Honey Child What Can I Do?,Ballad of the Broken Seas,31 Jan 2021,23:28
3,3,Babs_05,Isobel Campbell,It's Hard To Kill A Bad Thing,Ballad of the Broken Seas,31 Jan 2021,23:25
4,4,Babs_05,Isobel Campbell,Saturday's Gone,Ballad of the Broken Seas,31 Jan 2021,23:21
...,...,...,...,...,...,...,...
166148,265624,Orlenay,Kelly Lee Owens,Arpeggi,Inner Song,30 Jan 2021,18:30
166149,265625,Orlenay,Caterina Barbieri,Bow of Perception,Ecstatic Computation,30 Jan 2021,18:19
166150,265626,Orlenay,Caterina Barbieri,Pinnacles of You,Ecstatic Computation,30 Jan 2021,18:13
166151,265627,Orlenay,Caterina Barbieri,Arrows of Time,Ecstatic Computation,30 Jan 2021,18:08
166152,265628,Orlenay,Caterina Barbieri,Closest approach to your Orbit,Ecstatic Computation,30 Jan 2021,18:02

In [13]:
df['ArtistTrack'] = df['Artist'] + ' - ' + df['Track']

In [16]:
df['ArtistTrack'].value_counts()

ArtistTrack
Metric - Cascades (Dirt Road Version)                           297
Ocean Waves For Sleep - Rolling Ocean Waves                     266
Sophie - Immaterial                                             123
L'Impératrice - Peur des filles                                 104
In k - 迷失幻境 - DJ版                                                99
                                                               ...
John Parish - Add To the List                                     1
Yuzo Koshiro - Dilapidated Town                                   1
Quelle Chris - Spray and Pray                                     1
Pylon - The Human Body - Remastered                               1
Timo Lassy - African Rumble - Live at Savoy Theatre Helsinki      1
Name: count, Length: 76038, dtype: int64

In [34]:
df = df.drop_duplicates(subset='ArtistTrack')
len(df)

76038

In [35]:
df[['Artist', 'Track']].to_csv('data/Lastfm_reduced.csv', index=False)

In [36]:
df_reduced = pd.read_csv('data/Lastfm_reduced.csv')
df_reduced.head()
len(df_reduced)

76038

In [39]:
df_reduced.iloc[76037]

Artist                 Caterina Barbieri
Track     Closest approach to your Orbit
Name: 76037, dtype: object